{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Niyas Razak</title>
    <link href="{% static '/css/style.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/image1.jpg' %}">
                    <hr>
                    <h4>Hi I'm Niyas!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My First Job as Web Developer</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam est nam vel eius dolore, enim
                        ducimus excepturi dignissimos alias nisi! Molestias error nostrum perspiciatis quo.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum distinctio fuga repudiandae
                        repellendus odit!</p>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, amet?</p>

                    <ul class="social-link">
                        <li><img src="{% static 'images/facebook.png'%}" alt="Facebook" class="social">
                        </li>
                        <li>
                            <img src="{% static 'images/linkedin.png'%}" alt="LinkedIn" class="social">
                        </li>
                        <li>
                            <img src="{% static 'images/twitter.png'%}" alt="Twitter" class="social">
                        </li>
                        <!--<li>
                            <img src="{% static 'images/instagram.png'%}" alt="Instagram" class="social">
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as Web Developer</h5>
                    <hr>
                    <p>Full Stack Developer at Baabte</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt sit nam molestiae iure, inventore
                        consequatur hic earum ipsa consectetur? Nulla?</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I Know</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed incidunt cupiditate tempore aliquam
                        maiores sit, alias aperiam labore nesciunt reiciendis ea, similique a debitis saepe!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, esse!</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I Learn</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, ipsum.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut nam fugiat laudantium nemo tempore,
                        illo autem voluptatibus architecto impedit vitae repudiandae odio recusandae mollitia ab.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Short Term Goal</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam provident nisi tempora debitis
                        vel architecto?</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, voluptatibus nobis! At
                        illum porro in cum fugit, fugiat impedit quis voluptate facilis perferendis expedita officia
                        eligendi, nisi modi, eos adipisci?</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>

</html>